@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/**
 * Basic styles for links
 */

a {
  text-decoration: none;
  color: abstracts.$text-color;
  transition: color .3s ease;
  display: inline-flex;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}