@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: abstracts.$max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.event-toggle {
  &:has(.header__nav__input:checked) {
    .header__nav__icon {
      background-image: url(../../../img/sierre.svg);
    }

    .header__nav__list {
      pointer-events: auto;
      clip-path: inset(0);
    }
  }
}

.hover-event {
  &:hover {
    color: abstracts.$yellow;
  }
}

.inline {
  & {
    margin-inline: auto;
  }
};

.btn-yellow {
  & {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: abstracts.$bg-body;
    padding: 5px 50px 5px 20px;
    background-color: abstracts.$yellow;
    border-radius: 30px;
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10%;
    right: 20px;
    background-image: url(../../../img/arrow-narrow-left.svg);
  }
}

.hover-card {
  &:hover{
    .main__players__info {
      pointer-events: auto;
    }
    img {
      transform: scale(1.1);
    }
  }
}

.calendario-after {
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    opacity: .5;

    @include abstracts.query(medium) {
      opacity: 1;
    }
  }
}

.calendario-before {
  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: .5;

    @include abstracts.query(medium) {
      opacity: 1;
    }
  }
}

.tr-hover {
  &:hover {
    pointer-events: auto;
    background-image: linear-gradient(to left, #000, #827659, #000);
    
    @include abstracts.query(medium) {
      transform: scale(1.1);
    }
  }
}