@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  background-color: abstracts.$bg-body;
  color: abstracts.$text-color;

  font-size: abstracts.$size-text;
  line-height: 1.4;
  font-family: abstracts.$text-font-stack
}
