@use '../abstracts';

/**
 * Basic typography style for copy text
 */
body {
  background-color: abstracts.$bg-body;
  color: abstracts.$text-color;
  font: normal 18px / 1.4 abstracts.$text-font-stack;
  overflow: hidden;
}
