@use './variables' as vb;
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

/// Native `url(..)` function wrapper
/// @param {String} $base - base URL for the asset
/// @param {String} $type - asset type folder (e.g. `fonts/`)
/// @param {String} $path - asset path
/// @return {Url}
@function asset($base, $type, $path) {
  @return url($base + $type + $path);
}

/// Returns URL to an image based on its path
/// @param {String} $path - image path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function image($path, $base: $base-url) {
  @return asset($base, 'images/', $path);
}

/// Returns URL to a font based on its path
/// @param {String} $path - font path
/// @param {String} $base [$base-url] - base URL
/// @return {Url}
/// @require $base-url
@function font($path, $base: $base-url) {
  @return asset($base, 'fonts/', $path);
}

@function m-all($operacion: false, $medida: 0) {
  @if $operacion == 'resta' {
    $margin: vb.$mb - $medida;
    @return $margin;
  } @else if $operacion == 'suma' {
    $margin: vb.$mb + $medida;
    @return $margin;
  } @else if $operacion == 'mult' {
    $margin: vb.$mb * $medida;
    @return $margin;
  } @else if $operacion == 'divi' {
    $margin: vb.$mb / $medida;
    @return $margin;
  } @else if $operacion == false {
    $margin: $medida;
    @return $margin;
  }
}
