@use './variables' as vb;
@use './functions';
@use 'sass:map';

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin inline($value: auto) {
  & {
    margin-inline: $value;
  }
};

// Query para todo -->
@mixin query($breakpoint) {
  & { @media screen and (width >= map.get(vb.$breakpoints, $breakpoint)) {
    @content;
  }}
}

@mixin btn() {
  & {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: vb.$bg-body;
    padding: 5px 50px 5px 20px;
    background-color: vb.$yellow;
    border-radius: 30px;
    @content;
  }
}

@mixin btn-after() {
  &::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10%;
    right: 20px;
    background-image: url(../../../img/arrow-narrow-left.svg);
    @content;
  }
}

// CAROUSEL
@mixin carousel ($anchor-name) {
  & {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: $anchor-name;

    columns: 1;
    block-size: auto;
    text-align: start;

    &::column {
      scroll-snap-align: center;
    }

    &::scroll-button(*) {
      position: fixed;
      z-index: 5;
      position-anchor: $anchor-name;
      position-visibility: always;
      font-family: vb.$text-font-stack;
    }

    &::scroll-button(right) {
      position-area: inline-end center;
      content: '⟩';
    }

    &::scroll-button(left) {
      position-area: inline-start center;
      content: '⟨';
    }

    &::scroll-button(left), &::scroll-button(right) {
      padding: 10px 14px;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      color: #fff;
      font-weight: 200;
      font-size: 25px;
    }

    &::scroll-button(left):disabled, &::scroll-button(right):disabled {
      opacity: .4;
      cursor: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include query(x-l) {
      & {
          gap: 20px;
      }
    }
  }
}

@mixin posiciones ($position) {
  &::before {
    content: $position;
    width: max-content;
    height: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(140px, 71.43px + 8.93vw, 200px);
    font-family: vb.$title;
    font-weight: 900;
    letter-spacing: -8px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent , #000 110%);
    color: transparent;
    background-clip: text;
    @content;
  }
}