@use "./variables" as vb;
@use "./functions";
@use "sass:map";

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin inline($value: auto) {
  & {
    margin-inline: $value;
  }
}

// Query para todo -->
@mixin query($breakpoint) {
  @media screen and (width >= map.get(vb.$breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin btn() {
  & {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: vb.$bg-body;
    padding: 5px 50px 5px 20px;
    background-color: vb.$yellow;
    border-radius: 30px;
    @content;
  }
}

@mixin btn-after() {
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10%;
    right: 20px;
    background-image: url(../../../img/arrow-narrow-left.svg);
    @content;
  }
}

// CAROUSEL
@mixin carousel($anchor-name) {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  anchor-name: $anchor-name;

  columns: 1;
  text-align: center;

  &::scroll-button(*) {
    position: fixed;
    position-anchor: $anchor-name;
    position-visibility: always;

    font-family: vb.$text-font-stack;
    font-size: 30px;
    background-color: transparent;
    color: gray;
    border: none;
  }

  &::scroll-button(right) {
    content: "⟫";
    position-area: inline-end center;
  }

  &::scroll-button(left) {
    content: "⟪";
    position-area: inline-start center;
  }

  &::scroll-button(left):disabled,
  &::scroll-button(right):disabled {
    opacity: 0.4;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

// Posiciones ::bofore
@mixin posiciones($position) {
  &::before {
    content: $position;
    width: max-content;
    height: auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(120px, 105.92px + 3.76vw, 160px);
    font-family: vb.$title;
    font-weight: 900;
    letter-spacing: -8px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, transparent, #000 110%);
    color: transparent;
    background-clip: text;
    @content;
  }
}
