// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Nobile", sans-serif;
$title: "Roboto Condensed", sans-serif;
$sub-title: "Water Brush", cursive;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Colores:
$heading-color: white;
$text-color: #e5e7eb;
$text-color-secundary: #4f608172;
$text-color-tertiary: #9ca3af74;
$bg-iconos: #1f2937;
$green: #22c55e;
$green-op: #22c55e86;
$bg-btn: #ffd50048;
$bg-btn-hero: #ffffff1a;
$origin-yellow: #fbc02d;
$yellow: #fbc02d;
$yellow-op: #efa12d91;
$bd-color: #3b82f680;
$bg-body: #000;
$black-op: #0c0c0c;

// otra paleta de colores
$amarillo: #f3bf5b;
$olivo-claro: #827659;
$negro: #02091c;
$azul-profundo: #051c43;
$azul-profundo-mate: #294062;
$azul-claro-mate: #80a9c5;
$gris: #6f6b6b;

/// Container's maximum width
/// @type Length
$max-width: 1200px !default;

// Medidas
$mb: 10px;
// Size title
$size-title: clamp(54px, 21.52px + 8.66vw, 88px);
$size-title-v1: clamp(40px, 26.64px + 3.56vw, 54px);
$line-title: clamp(45px, 19.24px + 6.86vw, 72px);
// Size subtilte
$size-subtitle: clamp(32px, 9px + 6.12vw, 56px);
// Size text
$size-text: clamp(16px, 14px + 0.524vw, 18px);
// Ancho de contenedor
$width-container: max-content;

// widht con max()
$max-size: max(335px, 50%);

// margin-bottom de las secciones
$mb-sections: 70px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1024px,
	'x-l': 1440px,
);

$logos-url: (
	'castell': url('../../../img/equipos/cv_es_castell.png'),
	'ciutadella': url('../../../img/equipos/cv_ciutadella.png'),
	'ferrer': url('../../../img/equipos/son_ferrer.png'),
	'manacor': url('../../../img/equipos/cv_manacor.png'),
	'bunyola': url('../../../img/equipos/cv_bunyola.png'),
	'portol': url('../../../img/equipos/cv_portol.png'),
	'soller': url('../../../img/equipos/cv_soller.png'),
	'mayurqa': url('../../../img/equipos/mayurqa_volei_palma.png'),
	'anaya': url('../../../img/equipos/anaya_mayurqa_volei_plama.png'),
	'rafal': url('../../../img/equipos/rafal_vell.png'),
	'muro': url('../../../img/equipos/volei_muro.png'),
	'palma': url('../../../img/equipos/palma_sports.png'),
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
///