// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Roboto", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Colores:
$text-color: #fff;
$text-color-secundary: #6b7280;
$text-color-tertiary: #9ca3af;
$bg-iconos: #1f2937;
$green: #22c55e;
$green-op: #22c55e1a;
$bg-btn: #ffd50048;
$bg-btn-hero: #ffffff1a;
$yellow: #efa22d;
$yellow-op: #efa12dc9;
$bd-color: #e5e7eb;
$bg-body: #090909;
$black-op: #18181842;

/// Container's maximum width
/// @type Length
$max-width: 1280px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1440px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
///

