@use '../abstracts' as ab;
@use '../base/helpers' as hp;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.border-t {
    border-top: 1px solid ab.$text-color-secundary;
}

.footer {
    color: ab.$text-color-tertiary;
    text-align: center;
    padding-bottom: 40px;

    h4 {
        color: ab.$text-color;
        font-size: 25px;        
    }

    a {
        color: ab.$text-color-tertiary;
        @extend .hover-event;
    }

    &__nav {
        @extend .border-t;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-block: 65px 40px;

        // Contenedor del logo ---
        &__text {
            // logo --
            .footer__nav__logo {
                color: ab.$text-color;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 900;
                line-height: 15px;
                padding-bottom: 10px;
    
                @extend .hover-event;
            }
        }

        &__club {
            a {
                display: block;
            }
        }

        &__redes {
            a {
                width: 37px;
            }
        }
    }

    // Terminos legales ---
    &__legal {
        padding-top: 40px;
        @extend .border-t;
    }
}