@use '../abstracts' as ab;
@use '../base/helpers' as hp;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.922);
    backdrop-filter: blur(8px);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;

    &__logo {
        width: 150px;
        position: relative;
        padding-left: 50px;
        text-transform: uppercase;
        font-size: 20px; 
        font-weight: 900;
        line-height: 20px;
    }

    &__logo::before {
        content: '';
        width: 40px;
        height: 40px;
        background: url("../../../img/icon_escatell.png") center/cover no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 30%;
    }

    @extend .event-toggle;

    &__toggle {
        position: relative;
        width: 30px;
        height: 30px;
    }

    &__input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        inset: 0;
        background: url(../../../img/menu.svg) center/contain no-repeat;
        z-index: 1;
        cursor: pointer;
        transition: background .5s ease-in-out;
    }

    &__list {
        position: fixed;
        top: 80px;
        right: 0;
        background-color: ab.$bg-btn;
        width: min(50%, 320px);
        // height: 40vh;
        text-transform: uppercase;
        border-radius: 20px 0 0 20px;
        display: grid;
        gap: 10px;
        padding: 20px;
        // opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition:
        opacity 0.35s ease,
        transform 0.25s ease;
        backdrop-filter: blur(8px);
    }
}
