@use '../abstracts' as ab;
@use '../base/helpers' as hp;
// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    width: 100%;
    position: fixed;
    background-color: #000000ec;
    border-bottom: .5px solid ab.$bd-color;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;

    &__logo {
        width: 250px;
        position: relative;
        padding-top: 3px;
        padding-left: 40px;
        text-transform: uppercase;
        font-size: 20px; 
        font-weight: 900;
        line-height: 15px;

        @extend .hover-event;
    }

    &__logo::before {
        content: '';
        width: 30px;
        height: 30px;
        background: url("../../../img/icon_escatell.png") center/cover no-repeat;
        position: absolute;
        top: -7px;
        left: 0;
        border-radius: 50%;
    }

    @extend .event-toggle;

    &__toggle {
        position: relative;
        width: 30px;
        height: 30px;
    }

    &__input {
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    &__icon {
        position: absolute;
        inset: 0;
        background: url(../../../img/menu.svg) center/contain no-repeat;
        z-index: 1;
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    &__list {
        backdrop-filter: blur(6px);
        position: fixed;
        top: 70px;
        right: 0;
        background-color: ab.$black-op;
        width: min(45%, 420px);
        height: 100vh;
        text-transform: uppercase;
        padding: 50px 30px;
        pointer-events: none;
        display: grid;
        grid-template-rows: repeat(7, 60px);

        clip-path: inset(0 0 0 100%);
        transition: clip-path 0.4s ease;

        a {
            @extend .hover-event; 
        }
    }
}
