@use '../abstracts' as ab;

.header {
    @include ab.query_header(large) {
        &__nav {
            padding: 0;

            &__toggle {
                display: none;
            }
    
            &__list {
                width: 390px;
                margin-right: 20px;
                pointer-events: auto;
                clip-path: inset(0);
                position: initial;
                display: flex;
                height: initial;
                padding: 20px 0;
                background-color: transparent;
                text-transform: capitalize;
                font-size: 14px;

                a {
                    color: #ffffff80;
                    padding-right: 30px;
                }
            }

            &__unete {
                @include ab.btn();
                @include ab.btn-after();
            }
        }
    }
}