@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    @include ab.query_header(medium) {
        &__players {

            &__text {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 20px;

                h3 {
                    margin: 0;
                }

                a {
                    display: inline-flex;
                    @include ab.btn();
                    @include ab.btn-after();
                }
            }
        }

        &__galery {
            text-align: start;

            &__aboutus {
                display: grid;
                grid-template-columns: 1fr 2fr;

                figure {
                    background-image: linear-gradient(to right,#0000006c, #000000);
                    border-radius: 30px 0 0 30px;
                }

                p {
                    background-image: linear-gradient(to right, #fbc02d, #ffffff);
                }
            }
        }
    }
}