@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    // HERO SECTION -->
    &__hero {
        font-size: ab.$size-text;
        background-image: linear-gradient(to bottom, #00000091, #000000), url(../../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: clamp(667px, 586.29px + 25.22vw, 780px);
        display: grid;
        align-content: center;
        padding-top: 60px;

        // Contenedor de eapaceado ---
        .container {
            display: grid;
            text-align: center;
        }

        // Titulo encima del encabezado --
        &__ontitle {
            width: 165px;
            text-transform: uppercase;
            font-size: 12px;
            font-style: italic;
            border-radius: 20px;
            border: .5px solid ab.$yellow-op;
            padding-right: 10px;
            background-color: ab.$bg-btn;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 5);

            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        // Encabezado h1 title --
        &__title {
            max-width: 555px;
            @include ab.inline();
            font-family: ab.$title;
            font-size: ab.$size-title;
            font-weight: 900;
            line-height: ab.$line-title;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: ab.$heading-color;
        }

        // Span dentro del h1 -
        &__span {
            background-image: linear-gradient(to right, #fbc02d 40%, #ffffff);
            color: transparent;
            background-clip: text;
        }

        &__subtitle {
            font-size: 20px;
            text-transform: capitalize;
            word-spacing: 3px;
            letter-spacing: 4px;
            color: white;
            margin-bottom: ab.$mb;
        }

        //  Encabezado h2 --
        &__h2 {
            font-size: ab.$size-title;
            font-family: ab.$sub-title;
            font-weight: 400;
            display: inline-flex;
            margin-bottom: ab.$mb;
            @include ab.inline();
        }

        // Texto debajo del encabezado --
        &__text {
            max-width: 300px;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 10);
        }

        // Contenedor de botones --
        &__container { 
            width: clamp(250px, -179.39px + 114.50vw, 700px);
            @include ab.inline();
        }

        // Estilos generales de los botones --
        &__btn {
            @include ab.inline();
            color: ab.$bg-body;
            font-weight: 700;
            font-size: 16px;
            border-radius: 8px;
        }

        // btn uno -
        .uno {
            background-color: ab.$yellow;
            padding: 10px 30px;
            width: 182px;
            margin-bottom: ab.$mb;
        }

        // btn dos -
        .dos {
            width: 185px;
            background-color: ab.$bg-btn-hero;
            color: ab.$text-color;
            border: .5px solid ab.$text-color-tertiary;
            padding: 10px 20px;
        }
    }

    // DATOS SECTION -->
    &__datos {
        background-color: ab.$black-op;
        border-block: 1px solid ab.$text-color-secundary;
        margin-bottom: 50px;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        article+article {
            border-left: 1px solid ab.$text-color-secundary;
        }

        article {
            flex: 1;
            text-align: center;
            h3 {
                font-size: 30px;
                color: ab.$yellow;
            }
            p { 
                padding-top: 10px; 
                text-transform: uppercase;
                font-size: 14px;
            }
        }

        &__partidos {
            padding: 30px 10px 30px 0;
        }

        &__posicion { 
            padding: 30px 0 30px 10px;
        }
    }

    // SECCION DE JUGADORES -->
    &__players {
        margin-bottom: 70px;
        
        .container {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr;
        }
        
        &__text {
            h3 {
                font-size: ab.$size-subtitle;
                font-weight: 700;
                margin-bottom: ab.$mb;
            }

            a {
                display: none;
            }
        }

        &__photos {
            width: 335px;
            aspect-ratio: 4 / 5;
            border: 1px solid ab.$text-color-secundary;
            border-radius: 10px;
            background-image: linear-gradient(#fcc0281e, #1b1a1a6c);
            display: flex;
            flex-direction: column;
        }

        &__info {
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
    }

    // SECCION GALERIA -->
    &__galery {
        text-align: center;
        display: grid;
        place-items: center;
        margin-bottom: 40px;

        h4 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        figure {
            background-image: linear-gradient(#00000047, #000000);

            img {
                position: relative;
                z-index: -1;
                border: 1px solid ab.$bd-color;
                border-radius: 20px;
            }
        }

        p {
            font-style: italic;
            background-image: linear-gradient( #fbc02d, #ffffff);
            color: transparent;
            background-clip: text;
            width: 95%;
            margin-inline: auto;
        }
    }

    // SECCION VIDEO -->
    &__video {
        padding-block: 50px;      

        &__youtube {
            flex: 1;
            padding-bottom: 30px;
            text-align: center;

            h4 {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        &__h4 {
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
        }

        &__game {
            font-size: 14px;
            background-color: #3136408a;
            display: grid;
            grid-template-columns: 1fr 2fr;
            place-items: center;
            border-radius: 10px;

            div {
                padding: 20px;
            }

            div+div {
                border-left: .5px solid ab.$text-color-secundary;
            }
        }

        &__fecha {
            text-align: center;
            flex: 1;
        }

        &__rival>p {
            display: flex;
            justify-content: space-between;

            span {
                color: ab.$green;
                border: 1px solid ;
                border-radius: 6px;
                display: inline-flex;
                padding: 0 10px ;
                background-color: #22c55e3b;
            }
        }
    }

    &__maps {
        margin-bottom: 50px;
        p {
            text-align: center;
            margin-bottom: 30px;
            adress {
                font-style: italic;
                color: ab.$yellow;
            }
        }

    }
}