@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    // HERO SECTION -->
    &__hero {
        font-size: ab.$size-text;
        background-image: linear-gradient(to bottom, #00000091, #000000), url(../../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: 100vh;
        display: grid;
        align-content: center;
        padding-top: 80px;

        // Contenedor de eapaceado ---
        .container {
            display: grid;
            text-align: center;
        }

        // Titulo encima del encabezado --
        &__ontitle {
            width: 165px;
            text-transform: uppercase;
            font-size: 12px;
            font-style: italic;
            border-radius: 20px;
            border: .5px solid ab.$yellow-op;
            padding-right: 10px;
            background-color: ab.$bg-btn;
            @include ab.inline(auto);
            margin-bottom: ab.m-all('suma', 5);

            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        // Encabezado h1 title --
        &__title {
            max-width: 550px;
            @include ab.inline(auto);
            font-family: ab.$title;
            font-size: ab.$size-title;
            font-weight: 900;
            line-height: ab.$line-title;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: ab.$heading-color;
        }

        // Span dentro del h1 -
        &__span {
            background-image: linear-gradient(to right, #efa12d 40%, #ffffff);
            color: transparent;
            background-clip: text;
        }

        &__subtitle {
            font-size: 20px;
            text-transform: capitalize;
            word-spacing: 3px;
            letter-spacing: 4px;
            color: white;
            margin-bottom: ab.$mb;
        }

        //  Encabezado h2 --
        &__h2 {
            font-size: ab.$size-title;
            font-family: ab.$sub-title;
            font-weight: 400;
            display: inline-flex;
            margin-bottom: ab.$mb;
            @include ab.inline(auto);
        }

        // Texto debajo del encabezado --
        &__text {
            max-width: 300px;
            @include ab.inline(auto);
            margin-bottom: ab.m-all('suma', 10);
        }

        // Contenedor de botones --
        &__container {
            display: grid;
        }

        // Estilos generales de los botones --
        &__btn {
            @include ab.inline(auto);
            color: ab.$bg-body;
            font-weight: 700;
            font-size: 16px;
            border-radius: 8px;
        }

        // btn uno -
        .uno {
            background-color: ab.$yellow;
            padding: 10px 30px;
            width: 182px;
            margin-bottom: ab.$mb;
        }

        // btn dos -
        .dos {
            width: 185px;
            background-color: ab.$bg-btn-hero;
            color: ab.$text-color;
            border: .5px solid ab.$text-color-tertiary;
            padding: 10px 20px;
        }
    }

    // DATOS SECTION -->
    &__datos {
        background-color: ab.$black-op;
        border-block: 1px solid ab.$text-color-secundary;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        article+article {
            border-left: 1px solid ab.$text-color-secundary;
        }

        article {
            flex: 1;
            padding: 30px 10px;
            text-align: center;

            h3 {
                font-size: 30px;
            }

            p {
                padding-top: 10px;
            }
        }

        &__partidos {
            p {
                color: ab.$yellow;
            }
        }

        &__posicion {
            h3 {
                color: ab.$yellow;
            }
        }
    }
}