@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    @include ab.query(medium) {
        &__players {
            

            &__text {
                margin-bottom: 40px;

                h3 {
                    margin: 0;
                }
            }
        }

        &__players::before {
            content: 'eatrellas';
            position: absolute;
            top: -20px;
            left: 9%;
            font-size: 22rem;
            font-family: ab.$title;
            font-weight: 900;
            letter-spacing: -18px;
            text-transform: uppercase;
            color: #000000;
        }

        &__galery {
            text-align: start;

            &__aboutus {
                max-width: inherit;
                display: grid;
                grid-template-columns: 1fr 2fr;

                figure {
                    background-image: linear-gradient(to right,#0000006c, #000000);
                    border-radius: 16px 0 0 16px;

                    img {
                        object-fit: cover;
                        transform: rotateY(180deg);
                    }
                }

                p {
                    background-image: linear-gradient(to right, #fbc02d, #ffffff);
                }
            }
        }
    }
}