@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    @include ab.query(medium) {
        &__players {
            &__text {
                margin-bottom: 40px;

                h3 {
                    margin: 0;
                }
            }
        }

        &__players::before {
            content: 'equipazo';
            width: clamp(650px, 84vw, 1200px);
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: clamp(185px, 30.71px + 20.09vw, 320px);
            font-family: ab.$title;
            font-weight: 900;
            letter-spacing: -18px;
            text-transform: uppercase;
            color: #000000;
        }

        &__galery {
            .container {
                text-align: start;
                display: grid;
                align-items: center;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            }
        }
    }

    @include ab.query(x-l) {

        &__galery {
            &__aboutus {
                padding: 0 20px 0 66px;
            }
        }
    }
}