@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    // background-image: radial-gradient(circle, #494848a6 -80%, #020202 70%);
    // HERO SECTION -->
    &__hero {
        font-size: ab.$size-text;
        background-image: linear-gradient(to bottom, #00000000, #000000), url(../../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: clamp(667px, 579.68px + 23.29vw, 915px);
        display: grid;
        align-content: center;
        padding-top: 60px;

        // Contenedor de eapaceado ---
        .container {
            display: grid;
            text-align: center;
        }

        // Titulo encima del encabezado --
        &__ontitle {
            width: 165px;
            text-transform: uppercase;
            font-size: 12px;
            font-style: italic;
            border-radius: 20px;
            border: .5px solid ab.$yellow-op;
            padding-right: 10px;
            background-color: ab.$bg-btn;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 5);

            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        // Encabezado h1 title --
        &__title {
            max-width: 555px;
            @include ab.inline();
            font-family: ab.$title;
            font-size: ab.$size-title;
            font-weight: 900;
            line-height: ab.$line-title;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: ab.$heading-color;
        }

        // Span dentro del h1 -
        &__span {
            background-image: linear-gradient(to right, #fbc02d 40%, #ffffff);
            color: transparent;
            background-clip: text;
        }

        &__subtitle {
            font-size: 20px;
            text-transform: capitalize;
            word-spacing: 3px;
            letter-spacing: 4px;
            color: white;
            margin-bottom: ab.$mb;
        }

        //  Encabezado h2 --
        &__h2 {
            font-size: ab.$size-title;
            font-family: ab.$sub-title;
            font-weight: 400;
            display: inline-flex;
            margin-bottom: ab.$mb;
            @include ab.inline();
        }

        // Texto debajo del encabezado --
        &__text {
            max-width: 300px;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 10);
        }

        // Contenedor de botones --
        &__container { 
            width: clamp(250px, -179.39px + 114.50vw, 700px);
            @include ab.inline();
        }

        // Estilos generales de los botones --
        &__btn {
            @include ab.inline();
            color: ab.$bg-body;
            font-weight: 700;
            font-size: 16px;
            border-radius: 8px;
        }

        // btn uno -
        .uno {
            background-color: ab.$yellow;
            padding: 10px 30px;
            width: 182px;
            margin-bottom: ab.$mb;
        }

        // btn dos -
        .dos {
            width: 185px;
            background-color: ab.$bg-btn-hero;
            color: ab.$text-color;
            border: .5px solid ab.$text-color-tertiary;
            padding: 10px 20px;
        }
    }

    // SECTION NEXT GAME -->
    &__next {
        
        position: relative;
        background-image: radial-gradient(at center bottom, #827659 -60%, #020202 50%);

        // .pista {
        //     width: 100%;
        //     overflow: hidden;
        //     white-space: nowrap;

        //     span {
        //         font-size: 50px;
        //         font-weight: 600;
        //         color: ab.$azul-claro-mate;
        //         display: inline-block;
        //         padding-left: 100%;
        //         animation: moveX 20s linear infinite;
        //         will-change: transform;
        //     }
        // }

        // @keyframes moveX {
        //     from {
        //         transform: translateX(0);
        //     }
        //     to {
        //         transform: translateX(-100%);
        //     }
        // }

        
        &__game {
            text-align: center;
            display: flex;
            flex-direction: column;

            h4 {
                width: 210px;
                font-size: 30px;
                font-weight: 600;
                line-height: 34px;
                padding: 40px 0;
                margin: 0 auto;
                
            }

            p {
                z-index: 5;
                font-size: 60px;
                font-weight: 600;
            }
        }
    }

    &__next::before {
        content: '';
        width: 20%;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 0;
        background-image: url(../../../img/punto.png);
    }

    &__next::after {
        content: '';
        width: 20%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 0;
        background-image: url(../../../img/punto.png);
    }

    // SECCION GALERIA -->
    &__galery {
        position: relative;
        background-color: #827659;
        // background-image: radial-gradient(circle, #494848a6 -110%, #020202 90%);
        margin: 0 auto;
        
        &__img {
            max-width: 570px;
            margin: 0 auto;
            padding-block: 120px;
            z-index: 2;
            
            img {
                border-radius: 7px;
                object-fit: cover;
                object-position: center 20%;
                aspect-ratio: 5 / 3.2;
            }
        }
        
        &__aboutus {
            margin: 0 auto;
            max-width: 570px;
            padding-bottom: 120px;
            z-index: 2;
        }
        
        &__text1 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 10px 0;
        }

        &__h4 {
            color: ab.$yellow;
            font-size: 54px;
            font-family: ab.$title;
            line-height: 45px;
            margin-bottom: 24px;
        }

        &__text2 {
            margin-bottom: 10px;
        }
    }

    &__galery::before {
        content: '';
        width: 40%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 20%;
        background-image: url(../../../img/punto.png);
    }

    // SECCION DE JUGADORES -->
    &__players {
        position: relative;
        padding-block: ab.$mb-sections + 60;
        background-image: radial-gradient(at center top, #494848a6 -40%, #020202 70%);

        .container {
            position: relative;
            text-align: center;
        }

        .container::before {
            content: '';
            width: 70%;
            height: 80%;
            position: absolute;
            top: 0;
            left: 14.6%;
            background-image: url(../../../img/punto.png);
        }

        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 30px;
        }

        &__plantilla {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 900;
            color: #827659;

            @extend .hover-event;
        }
        
        &__text {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 20px;

            p {
                font-size: 14px;
                letter-spacing: 4px;
                color: ab.$yellow;
                padding-bottom: 10px;
            }

            h3 {
                color: #827659;
                font-size: ab.$size-title-v1;
                font-weight: 700;
                line-height: ab.$line-title;
                letter-spacing: -2.6px;
                margin-bottom: ab.$mb + 10;
            }

            p, h3 {
                z-index: 1;
            }
        }

        &__photos {
            position: relative;
            width: 270px;
            box-shadow: inset 0px 0px 18px 0px #3f3d3d;
            border: .5px solid #181818;
            border-radius: 8px;
            background-image: linear-gradient(#fcc0281e, #1b1a1a6c);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            
            img {
                background-color: transparent;
                transition: transform 0.4s ease;
            }

            @extend .hover-card;
        }

        &__info {
            width: 90%;
            padding: 10px;
            background-image: linear-gradient(to right, #3f3d3d74, #333232 80%);
            // background-color: #333232;
            border-right: 6px solid ab.$green;
            position: absolute;
            bottom: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            backdrop-filter: blur(8px);

            pointer-events: none;
            clip-path: inset(0 100% 0 0);
            transition: clip-path 0.4s ease;
        }
    }

    // SECCION VIDEO -->
    &__video {
        padding-block: ab.$mb-sections;
        background-image: radial-gradient(at center bottom, #827659 -40%, #010101 70%);
        figure {
            width: 20%;
            img {
                opacity: .2;
            }
        }
    }

    // SECCION MAPS -->
    &__maps {
        padding-block: ab.$mb-sections;
        p {
            max-width: 400px;
            letter-spacing: 1px;
            text-align: center;
            margin-inline: auto;
            margin-bottom: 30px;

            adress {
                font-style: italic;
                color: ab.$yellow;
            }
        }
    }
}