@use '../abstracts' as ab;
@use '../base/helpers' as hp;
@use 'sass:map';

.main {
    // HERO SECTION -->
    &__hero {
        font-size: ab.$size-text;
        background-image: linear-gradient(to bottom, #ffffff00 10%, #000), url(../../../img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: clamp(667px, 579.68px + 23.29vw, 915px);
        display: grid;
        align-content: center;
        padding-top: 60px;

        // Contenedor de eapaceado ---
        .container {
            display: grid;
            text-align: center;
        }

        // Titulo encima del encabezado --
        &__ontitle {
            width: 165px;
            text-transform: uppercase;
            font-size: 12px;
            font-style: italic;
            border-radius: 20px;
            border: .5px solid ab.$yellow-op;
            padding-right: 10px;
            background-color: ab.$bg-btn;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 5);

            display: grid;
            grid-template-columns: 20px 1fr;
            align-items: center;
        }

        // Encabezado h1 title --
        &__title {
            max-width: 555px;
            @include ab.inline();
            font-family: ab.$title;
            font-size: ab.$size-title;
            font-weight: 900;
            line-height: ab.$line-title;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: ab.$heading-color;
        }

        // Span dentro del h1 -
        &__span {
            background-image: linear-gradient(to right, #fbc02d 40%, #ffffff);
            color: transparent;
            background-clip: text;
        }

        &__subtitle {
            font-size: 20px;
            text-transform: capitalize;
            word-spacing: 3px;
            letter-spacing: 4px;
            color: white;
            margin-bottom: ab.$mb;
        }

        //  Encabezado h2 --
        &__h2 {
            font-size: ab.$size-title;
            font-family: ab.$sub-title;
            font-weight: 400;
            display: inline-flex;
            margin-bottom: ab.$mb;
            @include ab.inline();
        }

        // Texto debajo del encabezado --
        &__text {
            max-width: 280px;
            font-weight: 600;
            @include ab.inline();
            margin-bottom: ab.m-all('suma', 10);
        }

        // Contenedor de botones --
        &__container { 
            width: clamp(250px, -179.39px + 114.50vw, 700px);
            @include ab.inline();
        }

        // Estilos generales de los botones --
        &__btn {
            @include ab.inline();
            color: ab.$bg-body;
            font-weight: 700;
            font-size: 16px;
            border-radius: 8px;
        }

        // btn uno -
        .uno {
            background-color: ab.$yellow;
            padding: 10px 30px;
            width: 182px;
            margin-bottom: ab.$mb;
        }

        // btn dos -
        .dos {
            width: 185px;
            background-color: ab.$bg-btn-hero;
            color: ab.$text-color;
            border: .5px solid ab.$text-color-tertiary;
            padding: 10px 20px;
        }
    }

    // SECTION NEXT GAME -->
    &__next {
        position: relative;
        font-family: ab.$title;
        background-image: radial-gradient(at center, #494848a6 , #000000 70%);
        
        &__game {
            text-align: center;
            display: grid;
            place-items: center;
            padding: 70px 0;

            h4 {
                width: 150px;
                font-size: 25px;
                font-weight: 900;
                line-height: 24px;
                padding: 20px 0;
                margin: 0 auto;
                z-index: 5;
            }

            p {
                z-index: 5;
                font-size: 80px;
                font-weight: 900;
            }

            figure {
                z-index: 3;
                width: 200px;
            }
        }
    }

    &__next::before {
        content: '';
        width: 20%;
        height: 80%;
        position: absolute;
        top: 10%;
        left: 0;
        background-image: url(../../../img/punto.png);
    }

    &__next::after {
        content: '';
        width: 20%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 0;
        background-image: url(../../../img/punto.png);
    }

    // SECCION GALERIA -->
    &__galery {
        position: relative;
        // background-color: #827659;
        background-image: radial-gradient(circle, #494848a6 -110%, #020202 90%);
        margin: 0 auto;
        padding-block: 120px 80px;
        
        img {
            border-radius: 8px;
            object-fit: cover;
            object-position: center 20%;
            margin-bottom: 20px;
        }
        
        &__grid-2, &__grid-4 {
            margin: 0 auto;
            max-width: 570px;
            z-index: 2;
            padding-bottom: 40px;
        }
        
        &__text1 {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 10px 0;
        }

        &__h4 {
            color: ab.$yellow;
            font-size: 54px;
            font-family: ab.$title;
            line-height: 45px;
            margin-bottom: 24px;
        }

        &__text2 {
            margin-bottom: 10px;
        }
    }

    &__galery::before {
        content: '';
        width: 40%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 20%;
        background-image: url(../../../img/punto.png);
    }

    // SECCION DE JUGADORES -->
    &__players {
        position: relative;
        padding-block: ab.$mb-sections + 60;
        background-image: radial-gradient(at center top, #494848a6 -40%, #020202 70%);

        .container {
            position: relative;
            text-align: center;
        }

        .container::before {
            content: '';
            width: 70%;
            height: 80%;
            position: absolute;
            top: 0;
            left: 14.6%;
            background-image: url(../../../img/punto.png);
        }

        // .carousel {
        //     display: flex;
        //     overflow-x: auto;
        // }

        // .carousel::-webkit-scrollbar {
        //     display: none;
        // }

        .carousel__flex {
            display: flex;
            flex-wrap: wrap;
            // align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 30px;

            // overflow-x: auto;
            // overscroll-behavior-x: contain;
            // scroll-snap-type: x mandatory;
            // anchor-name: --carousel;


            // .main__players__photos {
            //     scroll-snap-align: center;
            // }
        }

        // .carousel__flex::-webkit-scrollbar {
        //     display: none;
        // }

        &__plantilla {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 900;
            color: #827659;

            @extend .hover-event;
        }
        
        &__text {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 20px;

            p {
                font-size: 14px;
                letter-spacing: 4px;
                color: ab.$yellow;
                padding-bottom: 10px;
            }

            h3 {
                color: #827659;
                font-size: ab.$size-title-v1;
                font-weight: 700;
                line-height: ab.$line-title;
                letter-spacing: -2.6px;
                margin-bottom: ab.$mb + 10;
            }

            p, h3 {
                z-index: 1;
            }
        }

        &__photos {
            position: relative;
            width: 270px;
            flex: 0 0 270px;
            // box-shadow: inset 0px 0px 18px 0px #3f3d3d;
            // border: .5px solid #181818;
            border-radius: 8px;
            // background-color: #000000;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            
            img {
                background-color: transparent;
                transition: transform 0.4s ease;
                mask-image: linear-gradient(black 60%, transparent)
            }

            @extend .hover-card;
        }

        &__info {
            width: 90%;
            padding: 10px;
            background-color: #333232;
            border-right: 6px solid ab.$green;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            backdrop-filter: blur(8px);
            transition: clip-path 0.4s ease;
        }
    }

    // SECCION CALENDARIO -->
    &__calendario {
        padding-bottom: 50px;
        table, th, td {
            border-collapse: collapse;
            overflow: hidden;
        } 

        td, th {
            position: relative;
            z-index: 8;
            vertical-align: middle;
            padding-block: 28px;
        }

        th {
            color: #fbc02d;
            // font-size: 20px;
        }

        tr {
            border-bottom: 1px solid ab.$text-color-secundary;
            transition: all .7s ease;

            @extend .tr-hover;
        }

        table {
            width: 100%;
            text-align: center;
            font-size: 14px;
            background-image: linear-gradient(to left, #000000, #6f6b6b9e, #000);
            padding: 10px;

            caption {
                font-size: 40px;
                font-weight: 500;
                color: #827659;
            }

            .local {
                @extend .calendario-after;
            }
            
            .visitante {
                @extend .calendario-before;
            }

            [data-team="castell"]::before {
                background-image: map.get(ab.$logos-url, castell);
            }

            [data-team="castell"]::after {
                background-image: map.get(ab.$logos-url, castell);
            }

            [data-team="ferrer"]::after {
                background-image: map.get(ab.$logos-url, ferrer);
            }

            [data-team="ciutadella"]::before {
                background-image: map.get(ab.$logos-url, ciutadella);
            }

            [data-team="mayurqa"]::after {
                background-image: map.get(ab.$logos-url, mayurqa);
            }

            [data-team="anaya"]::before {
                background-image: map.get(ab.$logos-url, anaya);
            }

            [data-team="soller"]::after {
                background-image: map.get(ab.$logos-url, soller);
            }

            [data-team="bunyola"]::before {
                background-image: map.get(ab.$logos-url, bunyola);
            }

            [data-team="rafal"]::before {
                background-image: map.get(ab.$logos-url, rafal);
            }

            [data-team="portol"]::before {
                background-image: map.get(ab.$logos-url, portol);
            }

            [data-team="manacor"]::after {
                background-image: map.get(ab.$logos-url, manacor);
            }

            [data-team="palma"]::after {
                background-image: map.get(ab.$logos-url, palma);
            }

            [data-team="muro"]::after {
                background-image: map.get(ab.$logos-url, muro);
            }
        }
    }

    // SECCION VIDEO -->
    &__video {
        position: relative;
        color: #000000;
        background-color: ab.$amarillo;
        img {
            width: 20%;
            filter: drop-shadow(2px 2px 15px #827659);
        }
    }

    // SECCION MAPS -->
    &__maps {
        padding-block: ab.$mb-sections;
        p {
            max-width: 400px;
            letter-spacing: 1px;
            text-align: center;
            margin-inline: auto;
            margin-bottom: 30px;

            adress {
                font-style: italic;
                color: ab.$yellow;
            }
        }
    }
}