@use '../abstracts' as ab;
@use '../base/helpers' as hp;

.main {
    @include ab.query(medium) {

        &__next {
            &__game {
                height: 25rem;
                flex-direction: row;
                align-items: center;
            }

            &__game::after {
                content: 'vs';
                width: 260px;
                height: max-content;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 230px;
                font-weight: 700;
                color: #82765995;
            }
        }

        &__players {
            &__text {
                margin-bottom: 40px;

                h3 {
                    margin: 0;
                }
            }
        }

        &__players::before {
            content: 'equipazo';
            width: clamp(650px, 84vw, 1200px);
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: clamp(185px, 30.71px + 20.09vw, 320px);
            font-family: ab.$title;
            font-weight: 900;
            letter-spacing: -18px;
            text-transform: uppercase;
            color: #000000;
        }

        &__galery {
            &__grid {
                text-align: start;
                display: grid;
                align-items: center;
                gap: 20px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);

                &-1 {
                    grid-area: 1 / 1 / span 1 / span 1;
                    align-self: stretch;
                }

                &-2 {
                    grid-area: 2 / 1 / span 2 / span 2;
                }

                &-3 {
                    grid-area: 2 / 3 / span 2 / span 1;
                    align-self: stretch;
                }

                &-4 {
                    grid-area: 1 / 2 / span 1 / span 2;
                }
            }
        }
    }

    @include ab.query('large') {
        &__next {
            &__game {
                position: relative;
                display: flex;
                align-items: center;
            }
        }
    }

    @include ab.query(x-l) {
        &__galery {
            &__aboutus {
                padding: 0 20px 0 66px;
            }
        }
    }
}