@use "../abstracts" as ab;
@use "../base/helpers" as hp;
@use "sass:map";

.hero__equipo {
  height: clamp(470px, 307.79px + 43.257vw, 640px);
  background-image:
    linear-gradient(to bottom, #ffffff00 10%, #000),
    url(../../../img/foto_video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 37%;
  margin-top: 60px;
  display: grid;
  align-items: center;

  p {
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: ab.$sub-title;
    font-size: 40px;
  }

  .hero__title {
    text-transform: uppercase;
    font-family: ab.$title;
    font-size: ab.$size-title;
    line-height: ab.$line-title;
  }
}

.players {
  padding-block: 60px;

  &__text {
    text-align: center;
    padding-block: 30px;

    p {
      text-transform: uppercase;
      letter-spacing: 9px;
    }

    .players__subtitle {
      text-transform: uppercase;
      font-size: ab.$size-subtitle;
      color: #701c83;
    }
  }

  .positions {
    position: relative;
    padding-bottom: 20px;
    background-image: radial-gradient(
      at center top,
      #494848a6 -40%,
      #020202 75%
    );

    h2 {
      position: relative;
      z-index: 2;
      color: #827659;
      text-align: center;
      padding: 40px 0;
      font-size: 40px;
    }
  }

  .positions::before {
    content: "";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../../../img/punto.png);
  }

  .cards {
    gap: 20px;
  }

  .colocador {
    @include ab.carousel(--colocador);
    anchor-name: unset;
  }

  .opuestos {
    @include ab.carousel(--opuesto);
  }

  .puntas {
    @include ab.carousel(--punta);
  }

  .centrales {
    @include ab.carousel(--centrales);
  }

  .liberos {
    @include ab.carousel(--liberos);
  }

  @include ab.query(medium) {
    .colocador,
    .opuestos,
    .liberos {
      anchor-name: unset;
    }
  }

  @include ab.query(large) {
    .colocador,
    .opuestos,
    .centrales,
    .liberos {
      anchor-name: unset;
      overflow-x: visible;
    }
  }

  .card {
    // Estilos para el slide
    flex: 0 0 min(100%, 335px);

    scroll-snap-align: start;

    // Estilos de la animacion ---
    perspective: 1000px;

    &__container {
      position: relative;
      transform-style: preserve-3d;

      .front,
      .back {
        background-size: cover;
        background-position: 46% center;
        border-radius: 10px;
        transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1.2);
        width: 100%;
        height: 450px;
        backface-visibility: hidden;
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image:
          radial-gradient(#00000093, black), url(../../../img/valon-voley.png);
      }

      .front::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50px);
        width: 50%;
        height: 100%;
        z-index: -3;
        border-radius: 10px;
        background: linear-gradient(transparent, #3a066b90);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &:hover .front,
      &:hover .back {
        transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1.2);
      }
    }

    &__info {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50px) translateZ(70px) scale(0.94);
      transform-style: preserve-3d;
      z-index: 2;
      font-size: 18px;
    }

    .front .card__info {
      top: 100%;
      text-shadow: 0 0 15px black;
    }

    .back .card__info {
      text-shadow: 0 0 25px;
    }

    .container__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(40px) scale(0.94);
      perspective: inherit;
    }

    &__container .back {
      transform: rotateY(180deg);
      transform-style: preserve-3d;

      .card__info {
        opacity: 0;
        transition: opacity 0.4s ease 0.2s;
      }
    }

    &__container .front {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    &__container:hover .back {
      transform: rotateY(0deg);
      transform-style: preserve-3d;

      .card__info {
        opacity: 1;
      }
    }

    &__container:hover .front {
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }

    @include ab.query(x-l) {
      flex: 0 0 270px;
    }
  }
}

// BREACKPOINTS
@include ab.query(medium) {
  .colocador,
  .opuestos,
  .liberos {
    justify-content: center;
  }
  .colocador {
    @include ab.posiciones("colocadores");
  }

  .opuestos {
    @include ab.posiciones("opuestos");
  }

  .puntas {
    @include ab.posiciones("puntas");
  }

  .centrales {
    @include ab.posiciones("centrales");
  }

  .liberos {
    @include ab.posiciones("liberos");
  }
}

@include ab.query(large) {
  .centrales {
    justify-content: center;
  }
}
